/* Adds gradient background */
.gradient-background {
    background: linear-gradient(300deg, #D2E0FB, #c6b4ee, #FFC0D9);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

body{
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center; /*Centers everything that doesn't have a width margin set*/
    color: #40514E;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem; /* 16px = 100% = 1em */
    margin: 50px auto 0 auto;
    /*top right bottom left (auto automatically centers)*/
    color: #6C4AB6;
    line-height: 1.25;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #6C4AB6;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #9f87d3;}

p{
    line-height: 2;
}

hr{ /*Changes all the hr*/
    border-style: dotted;
    border-bottom: none;
    border-color: #B1B2FF;
    border-width: 6px; 
    margin: 100px auto;
    width: 4%;
}

img{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

img::selection{
    background: transparent;
}

a{
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

/* mouse over link */
a:hover{
    color:rgb(204, 204, 204);
}

.top-container{
    background-color: #dce2fc;
    position: relative; /*Position relative to where it would have been initially*/
    padding-top: 100px;
}

.header-menu {
    overflow: hidden;
    background-color: #dce2fc;
    padding: 20px 10px;
}


.header-right { /* Float the link section to the right */
    float: right;
}

.logo{ /* Size logo and keep left side */
    float: left;
    height: 50px;
    width: 50px;
}


.middle-container{
    margin: 100px 0;
}

.bottom-container{
    background-color: #dce2fc;
    padding: 50px 0 20px;
}

.subtitle:hover{
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle::selection{
    background: transparent;
}

.profile-img{
    max-block-size: 300px;
}

.design-images{
    max-width: 100%;
    height: auto;
}

.intro{
    width: 30%;
    margin: auto;
}

.skill-row{
    width: 40%;
    margin: 100px auto;
    text-align: left;
    padding: 20px;
}

.twitch-logo-img{
    float: left;
    width: 30%;
    margin-right: 35px;
}

.other-img{
    width: 30%;
    float: right;
    margin-left: 30px;
}

.top-cloud{
    position: absolute; /*Position relating to the container*/
    right: 300px;
    top: 40px;
}

.bottom-cloud{
    position: static;
    left: 250px;
    bottom: 300px;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.links{
    color:#6C4AB6;
}

.copyright{
    color: rgb(88, 88, 88);
    font-size: 0.75rem;
    padding: 20px 0;
}

.btn {
    background: #9f87d3;
    background-image: -webkit-linear-gradient(top, #9f87d3, #5a468a);
    background-image: -moz-linear-gradient(top, #9f87d3, #5a468a);
    background-image: -ms-linear-gradient(top, #9f87d3, #5a468a);
    background-image: -o-linear-gradient(top, #9f87d3, #5a468a);
    background-image: linear-gradient(to bottom, #9f87d3, #5a468a);
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #7a64ad;
    background-image: -webkit-linear-gradient(top, #7a64ad, #412f6e);
    background-image: -moz-linear-gradient(top, #7a64ad, #412f6e);
    background-image: -ms-linear-gradient(top, #7a64ad, #412f6e);
    background-image: -o-linear-gradient(top, #7a64ad, #412f6e);
    background-image: linear-gradient(to bottom, #7a64ad, #412f6e);
    text-decoration: none;
  }

  #my-experience{
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
  }